body{
background-color: aliceblue;
color: #0fb60f;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

main input {
    width: 50vw !important;
}
.pill{
    margin: 1rem;
}
#parte_fixar {
    display:  flex;
    align-items: baseline;
    width: 800px;
    flex-wrap: wrap;
    word-wrap: break-word;
    border-top: 1px solid #ccc;
    padding-top: 10px;
   
     height: auto;
}
